.page-head {
    border: 1px dashed #000000;
    margin: 40px 0;
    padding: 20px 0;
    text-align: center;

    p {
        font-size: 4.5em;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
        margin: 0;
    }
}