@import '../../assets/styles/variables';

.side-section {
    display: none;
    height: 100vh;

    .portfolio-image {
        height: 30vh;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .side-nav {
        height: 70vh;
        background-color: $primary-color;
    }
}

.page-section {
    height: 100vh;
    background-color: lighten($black, 85%);
    padding: 0 10vw;
}

@media screen and (min-width: $sm) {
    .side-section {
        display: block;

        .portfolio-image {
            background-image: url('/assets/images/portfolio-image.jpg');
            filter: grayscale(100%);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}