<div class="main-nav">
    <a routerLink="/home" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-house-fill"></i>
    </a>
    <a routerLink="/more-info/about-me" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-person-fill"></i>
    </a>
    <a routerLink="/more-info/resume" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-briefcase-fill"></i>
    </a>
    <a routerLink="/more-info/contact" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-send-fill"></i>
    </a>
</div>