<div class="main-nav">
    <!-- <a routerLink="/home" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-house-fill"></i>
    </a>
    <a routerLink="/more-info/about-me" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-person-fill"></i>
    </a>
    <a routerLink="/more-info/resume" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-briefcase-fill"></i>
    </a>
    <a routerLink="/more-info/contact" routerLinkActive="active" class="nav-icon">
        <i class="bi bi-send-fill"></i>
    </a> -->
    <ng-container *ngIf="navLinks && navLinks.length > 0">
        <ng-container *ngFor="let link of navLinks">
            <ng-container *ngIf="link.isActive">
                <a *ngIf="!link.isExternal" [routerLink]="link.route" routerLinkActive="active" class="nav-icon">
                    <i [class]="link.icon"></i>
                </a>
                <a *ngIf="link.isExternal" [href]="link.externalUrl" target="_blank" class="nav-icon">
                    <i [class]="link.icon"></i>
                </a>
            </ng-container>
        </ng-container>
    </ng-container>
</div>