@import '../../../assets/styles/variables';

.main-nav {
    display: flex;
    flex-flow: column;
    position: fixed;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding: 15px 7px;
    background-color: $primary-color;
    border-radius: 20px;
    .nav-icon{
        color: lighten($black, 10);
        position: relative;
        font-size: 1.35em;
        margin: 10px 0;
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 50%;
            height: 15px;
            border-left: 1px dashed $black;
        }
        &:first-child{
            margin-top: 0px;
        }
        &:last-child{
            margin-bottom: 0px;
            &::after{
                display: none;
            }
        }
        &.active{
            color: $white;
        }
    }
}