@import '../../assets/styles/variables';

.intro-section {
    height: 100vh;

    .intro-image {
        background-image: url('/assets/images/portfolio-image.jpg');
        filter: grayscale(100%);
        display: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
    }

    p {
        margin: 0;
    }

    .greet {
        font-weight: 600;
        font-size: 2.8em;
        color: lighten($black, 15);
        line-height: 1.5;
        font-family: 'Noto Serif JP', serif;
        text-transform: uppercase;

        &.hi {
            font-size: 2.5em;
        }

        .name {
            color: $primary-color;
            font-family: 'Train One', cursive;
        }
    }

    #designation {
        display: inline-block;
        padding: 2px 15px;
        background: $primary-color;
        font-size: 1em;
        margin-top: 5px;
        font-weight: 600;
        color: lighten($black, 25);
        width: fit-content;
        border-radius: 2px;
        text-transform: uppercase;
    }

    .intro-content {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        padding: 0 5vw 0 10vw;
        height: 100%;
    }

    #know_more {
        background: $primary-color;
        width: fit-content;
        padding: 7px 15px;
        text-decoration: none;
        color: $white;
        font-weight: 600;
        border-radius: 20px;
        text-transform: uppercase;
    }

    #intro {
        font-family: 'Source Sans Pro', sans-serif;
        color: lighten($black, 40);
        font-size: 1em;
        margin: 25px 0;
    }
}
